.row {
  width: 100%;
  margin-left: 4%;
  margin-top: 20px;

  h3 {
    font-size: 19px;
    color: #e5e5e5;
    margin-bottom: 10px;
  }

  &__first {
    margin-top: -80px;
  }

  &__movies {
    display: flex;
    overflow-y: hidden;
    overflow-x: scroll;

    &::-webkit-scrollbar {
      display: none;
    }

    &__poster {
      width: 244px;
      max-height: 137px;
      padding: 5px;
      border-radius: 8px;
      object-fit: contain;
      transition: transform 450ms;

      &:hover {
        transform: scale(1.08);
      }
    }

    &__posterLarge {
      max-height: 400px;

      &:hover {
        transform: scale(1.09);
      }
    }
  }
}
