.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;

  width: 100%;
  height: 68px;
  padding: 20px 4%;

  position: fixed;
  top: 0;
  z-index: 99;
  transition: 450ms;

  &__show {
    background: rgb(20, 20, 20);
  }

  &__left {
    display: flex;
    justify-content: space-between;

    img {
      width: 95px;
      object-fit: contain;
    }

    nav {
      display: flex;
      align-items: center;
      margin-left: 40px;

      a {
        color: #e5e5e5;
        margin: 0 10px;
        font-size: 14px;
        transition: 0.4s;

        &:hover {
          color: #b3b3b3;
        }

        &:first-child {
          font-weight: bold;
          color: white;
        }
      }
    }
  }

  &__right {
    display: flex;
    align-content: center;
    align-items: center;

    a {
      color: white;
      margin: 0 16px;
      font-size: 21px;
    }
  }
}
